$FontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 375px;

.navBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #032541;
    height: 75px;
    width: 100%;
    position: relative;
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;


        li {
            list-style: none;
            text-decoration: none;
            margin-right: 10px;
            padding: 10px;

            a{
                color: white;
                text-decoration: none;
                font-weight: bold;
                font-family: $FontFamily;
                font-size: 15px;
            }
        }
    }
    
}

.PopFilmText {
    h1{
        font-family: $FontFamily;
        font-size: 30px;
        font-weight: bold;
        padding-top: 14px;
        padding-left: 70px;
    }
}

.movieBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: $FontFamily;

    .movieCard {
        position: relative;
        height: 340px;
        width: 158px;
        border: 1px solid #e3e3e3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 15px;
        box-shadow: 0 2px 6px rgba(black, 0.15);

        a{
            text-decoration: none;
            color: black;

            &:hover {
                color: #01b4e4;
            }
        }


        .picAndProgres {
            position: relative;

       .cardPic{
        height: 237px;
        width: 158px;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
       }
       
       .cardProgress{
        position: absolute;
        top: 215px;
        left: 10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

       
    }
    }
    .cardInText{
        padding: 12px;
        margin-top: 15px;

        h3{
            font-family: $FontFamily;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 4px;
        }

        p{
            font-family: $FontFamily;
            font-size: 14px;
            opacity: 0.75;
        }
    }

}

.mainInMovieBody {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: $FontFamily;
    color: white;
    position: relative;
    margin-bottom: 17px;

    &:before  {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #0a1725;
        opacity: .94;
        z-index: 0;

    
    }

    .inMovieBody {
        @media screen and (max-width:$tablet) and (min-width: $phone) {
            flex-direction: column;
            max-width: 100%;
        }
        display: flex;
        height: auto;
        z-index: 100;

        .posterPath {
            @media screen and (max-width:$tablet) and (min-width: $phone) {
                max-height: 100%;
                max-width: 100%;
            }
            margin-right: 35px;
            height: 517px;
            width: 357px;
            border-radius: 7px;
            overflow: hidden;

            img{
                /* @media screen and (max-width:$tablet) and (min-width: $phone) {
                    max-width: 100%;
                    max-height: 100%;
                } */
                height: 100%;
                width: 100%;
            }
        }
    }

        .movieDescription {
            @media screen and (max-width:$tablet) and (min-width: $phone) {
                max-width: 100%;
                margin-top: 20px;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;


            .movieTitle {
                @media screen and (max-width:$tablet) and (min-width: $phone) {
                    max-width: 100%;
                }
                display: flex;
                flex-direction: column;
                height: auto;
                width: 700px;

                h2{
                    font-family: $FontFamily;
                    font-weight: bold;
                    font-size: 30px;
                    margin-bottom: 10px;
                    margin-right: 10px;
                }

                .titleAndDate{
                    @media screen and (max-width:$tablet) and (min-width: $phone) {
                        max-width: 100%;

                        h2{
                            width: 185px;
                        }
                    }
                    display: flex;
                    flex-direction: row;

                    p{
                        display: flex;
                        font-size: 30px;
                    }
                }

                .dateAndGenres{
                    @media screen and (max-width:$tablet) and (min-width: $phone) {
                        font-size: 15px;
                    }
                    display: flex;
                    align-items: center;

                    p {
                        margin-right: 15px;
                    }
                }
            }
    
            .movieScore {
                @media screen and (max-width:$tablet) and (min-width: $phone) {
                    max-width: 100%;
                }
                display: flex;
                align-items: center;
                height: 80px;
                width: 700px;

                .moviePoint {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60px;
                    width: 60px;
                    margin-right: 10px;
                    
                }
                p{
                    font-weight: bold;
                    font-size: 15px;
                }
            }
    
            .movieSummary {
                @media screen and (max-width:$tablet) and (min-width: $phone) {
                    max-width: 100%;
                }
                align-items: center;
                height: auto;
                width: 700px;

                h3{
                    font-size: 20px;
                    font-family: $FontFamily;
                    font-weight: bold;
                    margin-bottom: 7px;
                }

                p{
                    font-family: $FontFamily;
                    font-size: 15px;
                }
            }
    
            .movieAuthors {
                @media screen and (max-width:$tablet) and (min-width: $phone) {
                    display: none;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: auto;
                width: 600px;
            }
        }

        
}

.actorContainer {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    
    &::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar{
        width: 12px;
        height: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: #032541;
    }


    .actorBody {
        height: 255px;
        width: 140px;
        box-shadow: 0 3px 5px rgba(black, 0.5);
        margin-right: 13px;
        margin-bottom: 15px;
        border-radius: 7px;


        .actorPicture{
            height: 178px;
            width: 140px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            overflow: hidden;
    
        }

        .actorBodyText {
            font-family: $FontFamily;
            padding: 10px 0 0 10px;

            h2 {
                font-weight: bold;
                margin-bottom: 5px;
            }

            p {
                font-size: 13px;
            }
        }

    }

}

.loginBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loginInBody {
        display: flex;
    }
}

.searchBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    padding: 40px;
    position: relative;
    z-index: 1;

    &:before  {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #032541;
        opacity: .94;
        z-index: -1;
    }

    h1  {
        font-size: 60px;
        font-weight: bold;
        font-family: $FontFamily;
        color: white;
    }

    h3 {
        font-size: 26px;
        font-weight: bold;
        font-family: $FontFamily;
        color: white;
    }

    .searchTextBody{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .inputBody{
     


        Input{
            padding-left: 20px;
        }
    }

}

.denemeCss {

    button{
        display: none;
    }
}

.searchRowBody {
    display: flex;
    height: 40px;
    flex-direction: row;
    box-shadow: 0 2px 6px rgba(black, 0.15);
    padding-left: 20px;
}

.cardTabBody{
    display: flex;
    height: 350px;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar{
        width: 12px;
        height: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: #032541;
    }
    
    
    .tabBody{
        height: 291px;
        width: 150px;
        display: flex;
        flex-direction: column;
        margin-right: 15px;

        .tabPictures {
            display: flex;
            flex-shrink: 0;
            height: 225px;
            width: 150px;
            overflow: hidden;
            border: 1px solid white;
            border-radius: 8px;
        }

        .tabTextBody {
            padding: 7px;
            margin-top: 15px;

            h3{
                font-family: $FontFamily;
                font-weight: bold;
            }
            
            p {
                font-family: $FontFamily;
                font-size: 14px;
            }
        }

        .pictureAndProgress{
            position: relative;

            .progressRegion{
                position: absolute;
                top: 207px;
                left: 10px;
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }
        }
    }
}

.tableBodyStyle{
    
    display: flex;
    font-family: $FontFamily;
    font-weight: bold;
    font-size: 23px;

    p{
        @media screen and (max-width:$tablet) and (min-width: $phone) {
            display: none;
        }
        margin-top: 12px;
    margin-right: 27px;
    }
}

.InterMenuC {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: white;

    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;

        li{
            font-family: $FontFamily;
            margin-right: 20px;
        }
    }
}

.SearchPageBody{
    display: flex;
    padding-top: 20px;

}

.searchMovieAllBody {
    display: flex;
    flex-direction: column;

    .searchMovieBody{
        @media screen and (max-width:$tablet) and (min-width: $phone) {
            width: 100%;
        }
        display: flex;
        height: 143px;
        width: 920px;
        border: 1px solid #e3e3e3;
        border-radius: 7px;
        margin-bottom: 15px;
        box-shadow: 0 2px 6px rgba(black, 0.15);

        

        .searchMoviePicture {
            display: flex;
            flex-shrink: 0;
            height: 143px;
            width: 94px;
            overflow: hidden;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
        }

        .searchMovieText{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;

            h3{
                font-family: $FontFamily;
                font-weight: bold;
                font-size: 17px;
            }

            p{
                font-family: $FontFamily;
                font-size: 15px;
                opacity: 0.5;
            }
            span{
                @media screen and (max-width:$tablet) and (min-width: $phone) {
                    display: none;
                }
            }
        }
    }
}

.searchPersonAllBody{
    display: flex;
    flex-direction: column;

    .searchPersonBody{
        display: flex;
        height: 70px;
        width: 100%;
        margin-bottom: 15px;
        
        .searchPersonPicture{
            height: 70px;
            width: 70px;
            border: 1px solid #e3e3e3;
            overflow: hidden;
            border-radius: 10px;
        }

        .searchPersonText{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;

            h3{
                font-family: $FontFamily;
                font-weight: bold;
                font-size: 17px;
            }

            .searchDepartment{
                @media screen and (max-width:$tablet) and (min-width: $phone) {
                    display: none;
                }
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p{
                font-family: $FontFamily;
                font-size: 15px;
                opacity: 0.5;
            }
        }
    }
}

.inPersonAllBody {
    @media screen and (max-width:$tablet) and (min-width: $phone) {
        flex-direction: column;
        max-width: 100%;
    }
    display: flex;
    padding: 25px;
    max-width: 73%;

    .inPersonBody{
        @media screen and (max-width:$tablet) and (min-width: $phone) {
            flex-direction: column;
            max-width: 100%;
        }
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;

        .picAndInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 310px;

            .personPicture{
                @media screen and (max-width:$tablet) and (min-width: $phone) {
                    padding-left: 35px;
                    height: 500px;
                    width: 350px;
                }
                height: 450px;
                width: 300px;
                overflow: hidden;
                border-radius: 8px;

            }

            .personInfo{
                @media screen and (max-width:$tablet) and (min-width: $phone) {
                    display: none;
                }
                height: 100%;
                width: 300px;
                margin-top: 10px;
                
                .allInfo{
                    padding: 10px;
                    font-family: $FontFamily;
                    
                    h2{
                        font-weight: bold;
                        font-size: 20px;
                    }

                    .textStyle{
                        margin-top: 10px;
                        
                        
                        h3{
                            font-weight: bold;
                            font-size: 17px;
                        }
                        p{
                            margin-bottom: 17px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    
        .personBiography{
            height: 300px;
            width: 100%;
            margin: 10px;

            .inAllBiography{
                margin: 10px;

                h2{
                    font-family: $FontFamily;
                    font-weight: bold;
                    font-size: 30px;
                }

                .creditsInfo{
                    h1{
                        font-family: $FontFamily;
                        font-size: 25px;
                        font-weight: bold;
                        margin-top: 20px;
                    }
                }

                .inBiography{
                    @media screen and (max-width:$tablet) and (min-width: $phone) {
                        margin-bottom: 50px;
                    }
                    margin-top: 30px;

                    h3{
                        font-family: $FontFamily;
                        font-weight: bold;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                    p{
                        font-family: $FontFamily;
                        font-size: 15px;

                    }
                }
            }
            
        }
    }
}

.searchCompInput{
    margin-bottom: 20px;
}

.favoriteCard {
    height: 340px;
    width: 170px;
    margin:10px;
    box-shadow: 0 2px 6px rgba(black, 0.15);

    .favoritePic{
        height: 250px;
        width: 169px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .favoriteText {
        display: flex;
        flex-direction: column;
        margin: 10px;
    
        
        h3{
            font-family: $FontFamily;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        p{
            font-family: $FontFamily;
            font-size: 14px;
            opacity: 0.5;
        }
    }
}

.favoriteAllBody{
    display: flex;
    flex-direction: column;


    h1{
        @media screen and (max-width:$tablet) and (min-width: $phone) {
            padding: 15px 0 5px 99px;
        }
        font-family: $FontFamily;
        font-weight: bold;
        font-size: 31px;
        padding: 11px 0 0 72px;
    }
    
    .favoriteBody{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.deleteButton {    
    position: absolute;
    top: 0;
    left: 118px;
    height: 50px;
    width: 50px;
}

.creditsBody{
    display: flex;
    height: 280px;
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar{
        width: 12px;
        height: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: #032541;
    }

}

.creditsCard{
    height: 250px;
    width: 135px;
    margin-right: 15px;
    box-shadow: 0 2px 6px rgba(black, 0.15);

    .creditsPic{
        height: 185px;
        width: 135px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        overflow:hidden;
    }

    .creditsText {
        display: flex;
        flex-direction: column;
        padding: 4px;

        h3{
            font-family: $FontFamily;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        p{
            font-family: $FontFamily;
            font-size: 13px;
            opacity: 0.5;
        }
    }
}
